---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-p44">
			<h1 class="text-white text-5xl text-bold flex justify-center flex-row gap-x-4 pb-4">
				Hi, I'm Mateo Velilla
				<div class="flex justify-center items-center">
					<Badge>Working at Propelus</Badge>
				</div>
			</h1>
			<h2 class="text-xl">
				+10 years of experience. Full Stack Developer. From Colombia 🇨🇴. I'm focus to create low-latency, distributed, and fault-tolerant systems.
			</h2>
		</section>
	</main>
</Layout>