---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Portfolio's Mateo Velilla"
	description="Portfolio and blog of Mateo Velilla"
>
	<main class="px-4 min-h-screen pb-24">
		<Hero />
		<Experience />
		<Projects />
	</main>
</Layout>
<script is:inline src="/scripts/refresh-styles.js"></script>
<script is:inline>
	console.log("Refreshing theme in the index page")
	refreshTheme();
</script>