<!-- todo: mx-auto mt-24 -->
<footer class="w-full
    bg-black flex justify-center">
    <div
        class="flex justify-center w-full max-w-screen-xl p-4 md:flex md:items-center md:justify-center"
    >
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-white sm:mt-0"
        >
            <li>
                <a href="/#top" class="hover:underline me-4 md:me-6">Home</a>
            </li>
            <li>
                <a href="/#experience" class="hover:underline me-4 md:me-6"
                    >Exprience</a
                >
            </li>
            <li>
                <a href="/#projects" class="hover:underline me-4 md:me-6"
                    >Projects</a
                >
            </li>
        </ul>
    </div>
</footer>
