---
import ThemeToggle from "./ThemeToggle.astro"
const navItems = [
    {
        title: "Home",
        label: "home",
        url: "#top"
    },
    {
        title: "Experience",
        label: "experience",
        url: "/#experience"
    },
    {
        title: "Projects",
        label: "projects",
        url: "/#projects"
    },
    {
        title: "Blog",
        label: "blog",
        url: "/blog"
    },
    {
        title: "Contact",
        label: "contact",
        url: "mailto:teovelilla@gmail.com"
    }
]
---
<header
    class="
        fixed
        top-0
        z-10
        flex
        items-center
        justify-center
        w-full
        mx-auto
        mt-2
        p-4
    ">
    <nav 
        class="
            flex
            text-sm
            font-medium
            rounded-full
            text-gray-600
            dark:text-gray-200
            justify-center
            items-center

        "
    >
        {
            navItems.map((link) => (
                <a
                    class="
                    relative
                    block
                    px-3
                    py-3
                    transition"
                    aria-label={link.label}
                    href={link.url}
                >
                    {link.title}
                </a>
            ))
        }
        <ThemeToggle />
    </nav>
</header>
<style>
    nav {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
      hover:white;
    }
  
    @keyframes nav-shadown {
      to {
        @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-[#ffffff33] ring-white/10 text-white;
      }
    }
</style>